.advanced-text-wrapper .color-animation {
    position: relative;
    overflow: hidden;
}

.advanced-text-wrapper .color-animation{
    /* background: linear-gradient(to right, #2486F2, #2486F2 50%, #1A2E35 50%); */
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position .9s ease;
}

.advanced-text-wrapper .color-animation.animate{
    background-position: 0 100% !important;
}

.advanced-text-wrapper .vertical_center .highlight-text{
    vertical-align: middle;
}

.advanced-text-wrapper .advanced_text span{
    position: relative;
    width: 0;
    overflow: hidden;
}

.advanced-text-wrapper .advanced_text span svg{
    position: absolute;
    bottom: 0;
    left: 0;
    width:fit-content;
    fill: none;
}

@keyframes draw {
    to {
        width: 100%; 
    }
}